<div class="container">
    <div class="content-dot">
        <p class="primary">
            Hello,<br />I'm Fabien
        </p>
        <p class="secondary">
            Lead Web Developer
        </p>
    </div>
</div>
