.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 500px;
}
.content-dot{
    width: 250px;
    height: 250px;
    background: rgba(73, 122, 137, 0.44);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.46);
    text-align: center;
    margin: auto;
    padding: 40px 0;
    p{
        width: 100%;
        font-family: 'Oswald', sans-serif;
        &.primary{
            font-size: 2em;
            text-transform: uppercase;
        }
        &.secondary{
            line-height: 4em;
            &:before{
                content: '';
                display: block;
                position: relative;
                top: 0;
                width: 50px;
                height: 3px;
                background: #fff;
                margin: auto;
            }
        }
    }
}