<div class="image-panel fullwidth container-fluid">
    <img src="/assets/images/projects/mydws-banner.jpg">
    <h1>
        MyDWS - Liquid Layout
    </h1>
</div>
<div class="container">
    <h6>Realisé au sein de l'agence MOONDA</h6>
    <h2>Presentation</h2>
    <p>
        MyDWS is a eZPublish 4 Plateform, modified in order to create a Sitegenerator that can handle more than 400 sites.<br>
        Each websites can be created in a few seconds, all of those website has access to a centralized product catalogue that doesn't require user input to be updated.<br>
        Each websites share the same code and design, allowing an easy to maintain code base, but rigourous thinking.<br>
        The 'Liquid Layout' aim to enable each sites to be as unique as possible.
    </p>

    <h2>Front END</h2>
    <p>The frontend will include an entire overall in order to acheive:</p>
    <ul>
        <li>A modern design</li>
        <li>A fully responsive website</li>
        <li>A user friendly navigation</li>
    </ul>

    <h2>Backend</h2>
    <p>
        This is the real challenge of this update, in order to garantee that all our customer can edit their layout we need to give them tools that are both easy to use, but also very powerful.<br>
        We also needed to ensure full compatiblity and interoperabilty with the design & data engine.<br>
        <br>
        In order to acheive that, I decided to go by enhancing the object/node system, allowing for the template rendering to be completly seperated from the editor.This also allows to easily add new components.<br>
        <br>
        In order to stay in the defined timeline I decided to enhance an AJAX interface in order to be able to access all the eZPublish functionnality asynchronously, so that an entire page can be created & modified in the same page.<br>
        To access all those backend endpoints and to integrate all the customer demands (such as rules and editor conditions) I decided to go with AngularJS. Powered by a drag and drop and what you see is what you get interface.
    </p>
    <div class="iframe-container">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4ZgcnFy98Q0" frameborder="0"></iframe>
        </div>
    </div>
</div>
