<div>
    Our Biggestion update for MOONDA's sitegenerator.
    Based on eZPublish, the customisation tools were very limitated. But using the existing principle of eZPublish (Object-Node), We added the possibility for a dealer to change the layout of an entire page, with more than 20 components that can be moved and resized using <b>AngularJS</b>.
    <br>All those changes are saved in real time on eZPublish's draft system.
    <br>Using eZPublish front-end template engine we are rendering all those pages in HTML, in order to provide the best compatibilty and SEO.
    We also used this opportunity to entirely change the frontend design of the plateform.
    <small>Release: December 2016</small>
</div>