<div class="image-panel container-fluid">
    <img src="/assets/images/projects/scfr-banner.jpg">
    <h1>
        StarCitizen.fr
    </h1>
</div>
<div class="container">
    <h2>Wordpress</h2>
    In November 2015, as the editorial content was growing, the urge to improve the front page and news content, was unavoidable.<br />
    Using this oppurtunity we released this design as fully responsive (with Bootstrap), and using <a href="https://starcitizen.fr/2015/10/26/starcitizen-fr-fete-sa-3eme-annee/">modern content integration (Youtube, Twitch)</a>

    <h2>Forum</h2>
    The forum launch in 2014 had for goal to break down existing conventions in forum design. Using a simple color coded interface.<br />
    But also to rewrite all the templates to achieive a HTML5 approved semantic.

    <h2>DevOPS</h2>
    Website developpement is fully managed with GitHUB using a continuous deployment method (all update are immediatly pushed on production).<br />
    Server is powered by NGINX + PHP-FPM (ready to migrate on php 7 as soon as phpBB is compatible).<br />
    Encryption is provided by Let's Encrypt services.<br />
</div>