@import "~@angular/material/core/theming/all-theme";

@include md-core();

$primary: md-palette($md-blue-grey, 800);
$accent:  md-palette($md-grey, 600, A100, A400);
$warn:    md-palette($md-red, 600);
$theme:   md-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);