a{
    color: #757575;
}
.share-link{
    vertical-align: sub;
    font-size: .5em;
    margin-left: 5px;
}

h1{
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.project-item {
    height: 200px;
    background-color: darken(#26323a,0.5);
    padding: 0;
    background-position: top center;
    background-size: cover;
    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        margin: auto;
        color: #fff;
        width: 100%;
        height: 100%;
        background: rgba(38, 50, 58, 0.53);
        transition: all .3s ease-in-out;
        &:hover, &:active{
            background: rgba(38, 50, 58, 0.37);
            text-decoration: none;
        }
        h4 {
            margin: auto;
            padding: 10px;
        }
    }
}