<div class="container">
    <h1>Projects</h1>
    <div class="row">
        <div class="project-item col-xs-12 cold-sm-6 col-md-4" style="background-image: url(/assets/images/projects/scfr.jpg);">
            <a routerLink="/projects/StarCitizen">
                <h4>
                    StarCitizen.fr
                </h4>
            </a>
        </div>
        <div class="project-item col-xs-12 cold-sm-6 col-md-4" style="background-image: url(/assets/images/projects/mydws.jpg);">
            <a routerLink="/projects/LiquidLayout">
                <h4>
                    Liquid Layout - MyDWS
                </h4>
            </a>
        </div>
        <div class="project-item col-xs-12 cold-sm-6 col-md-4">
            <a routerLink="/projects/MyDWS">
                <h4>
                    DistribWS & Product Import
                </h4>
            </a>
        </div>
        <div class="project-item col-xs-12 cold-sm-6 col-md-4">
            <a>
                <h4>
                    In DEVELOPEMENT: phpBB Front-End Application
                </h4>
            </a>
        </div>
        <div class="project-item col-xs-12 cold-sm-6 col-md-4">
            <a routerLink="/projects/atmarma">
                <h4>
                    atmarma.fr
                </h4>
            </a>
        </div>
    </div>
</div>
