<div class="app-layout">
  <md-toolbar color="primary">
    <span>This site is heavily in developpement. <a href="https://gitlab.com/pixelone/personal-site"><small>Check out source code</small></a></span>
  </md-toolbar>
  <app-navigation></app-navigation>
  <router-outlet></router-outlet>
</div>