@import '~bootstrap/scss/grid';
.viewproject{
    margin-bottom: 40px;
    $height-featured: 600px;
    .image-panel{
        height: $height-featured;
        overflow: hidden;
        position: relative;
        padding: 0;
        img{
            position: absolute;
            width: 50%;
            z-index: -1;
            left: 0;
            @include media-breakpoint-down(md){
                width: 100%;
            }
        }
        &.fullwidth{
            img{
                width: 100%;
            }
        }
        h1{
            margin-bottom: 20px;
            text-align: center;
            font-family: 'Oswald', sans-serif;
            width: 100%;
            height: 600px;
            padding: 250px 0;
        }
    }
    h6{
        margin: 10px 0;
    }
    h2{
        font-size: 2.5em;
        line-height: 40px;
        color: #26323a;
        background: #497A89;
        padding: 10px;
        padding-left: 24px;
        margin: 40px auto 20px;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
    }
    .iframe-container{
        max-width: 720px;
        margin: auto;
    }
}
