body{
    margin:0;
    background: $color-background;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 100vh;
    color: $primary-color-text;
}
.videoblock{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    z-index: -1000;
}
a{
    color: $primary-color-text;
    text-decoration: none;
    &:hover{
        color: $secondary-text-color;
    }
}
.app-layout{
    height: 100vh;
}

.loading-screen{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    background: url(./assets/images/pixel_spinner.gif) center 50% no-repeat #1E1F22;
}

app-viewproject {
    padding-bottom: 100px;
    display: block;
}