<div class="navigator">
    <a class="main-link" routerLink="/">Fabien Robert</a>
    <div class="nav-list">
        <button md-button color="accent" *ngFor="let menuItem of data.navigationList" routerLink="/{{menuItem.url}}">{{ menuItem.name }}</button>
    </div>
    <div class="social-list">
        <a md-mini-fab href="{{socialItem.url}}" color="pirmary" *ngFor="let socialItem of data.socialLinks" [innerHTML]="socialItem.name"></a>
    </div>
</div>