.navigator{
    width: 100%;
    height:100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    .main-link{
        text-indent: 20px;
        display: block;
        font-family: 'Oswald', sans-serif;
        font-size: 1.2em;
        &:hover{
            text-decoration: none;
        }
    }
    .nav-list{
        flex-grow: 1;
        text-align: center;
        button{
            color: #fff;
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
            font-size: 1em;
            letter-spacing: 1px;
            outline: 0;
        }
    }
    .social-list{
        justify-content: space-around;
        a{
            margin: 0 10px;
            background: #35515d;
        }
    }
}