.default-card{
    background: rgba(73, 122, 137, 0.44);
    color: #fff;
    display: block;
    width: 100%;
    md-card-title{
        font-size: 1.5em;
        font-weight: bold;
    }
    md-card-actions{
        text-align: right;
        .material-icons{
            width: 24px;
        }
    }
}
.title{
    margin-bottom: 25px;
}