<div class="container">
  //TODO FINISH
  <h5 class="title">I'm a polyvalent Lead Web Developper, specialized in PHP, passionate by designing & building app and engaging platform.</h5>
  <h3>Skills</h3>
  <md-grid-list cols="2" gutterSize="15px" rowHeight="200px">
    <md-grid-tile layout-wrap *ngFor="let skill of skills">
      <md-card flex layout-wrap class="default-card">
        <md-card-header>
          <md-card-title>{{skill.title}}</md-card-title>
        </md-card-header>
        <md-card-content>
          <p>
            {{skill.description}}
          </p>
        </md-card-content>
        <md-card-actions>
          <p>
            <i class="material-icons" *ngFor="let int of range(skill.level)">star_rate</i>
            <i class="material-icons" *ngFor="let int of range(5 - skill.level)">star_border</i>
          </p>
        </md-card-actions>
      </md-card>
    </md-grid-tile>
  </md-grid-list>
</div>
